html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;

    font-family: 'Lato';
    font-size: 3vmin;

    align-items: center;
    background-color: #FFFFFF;
}

#div-screen {
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;

    /* Limit aspect ratio 1.6:1 to 2.2:1 */
    max-width: 220vh;
    left: 50%;
    /* 1 / 0.625 = 1.6 */
    max-height: 62.5vw;
    top: 50%;

    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#div-canvas {
    width: 100%;
    height: 100%;
    margin-top: auto;
}

#canvas-game {
    position: relative;
    width: 100%;
    height: 100%;
}

#div-login {
    position: absolute;
    align-items: center;
    justify-content: center;

    width: 70vw;

    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 1.5em;
}
#fieldset-login {
    width: 100%;

    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    border: 1px solid;
}

#form-login {
    padding: 5vw;
    text-align: center;
}

#input-room, #div-login-buttons {
    margin: 0 auto;
    display: none;
}

#button-join, #button-host {
    margin: 3vw;
    padding: 2vw 3vw;
}

.form-input {
    text-align: center;
    width: 84%;
    margin-bottom: 12px;
}

#div-overlays {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#div-stats {
    position: absolute;
    right: 0;
    font-size: 0.8em;
}

#div-chat {
    visibility: hidden;
    position: absolute;
    left: 0;
    
    bottom: 1em;
    width: 20em;
    height: 8em;

    overflow-y: scroll;
    scrollbar-width: none;
}
#input-message {
    padding: 2px;
    margin: 0;
    font-size: 1em;
    border: none;
    resize: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
}
#div-message {
    position: absolute;
    visibility: hidden;
    bottom: 0;

    width: 20em;
}

#button-message {
    display: none;
}

#div-minimap {
    position:  absolute;
    visibility: hidden;

    right: 0;
    bottom: 0;
    width: 12.4em;
    height: 7em;

    background-color: rgba(0, 0, 0, 0.3);
}

#canvas-physics {
    width: 100%;
    height: 100%;
    display: block;
    transform: scale(1, -1);
}

#div-feed, #div-counters {
    position: absolute;
    top: 25%;
}

#div-feed {
    left: 0;
}

#div-counters {
    right: 0;
}

#div-counters-container {
    position: relative;
    text-align: right;

    min-width: 8em;
    max-width: 8em;
}

.feed, .counter {
    margin-bottom: 0.2em;
    color: #f2f2f2;

    padding-top: 0.3em;
    padding-bottom: 0.3em;

    white-space: nowrap;
}

.feed {
    text-align: left;
    min-width: 5.5em;

    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;

    opacity: 0;
    margin-left: -5.5em;
    height: 100%;

    transition: opacity 0.3s ease-in, height 0.3s ease-in, margin-left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background: linear-gradient(to left, rgba(200, 200, 200, 0.1), rgba(0, 0, 0, 0.7));
}

.counter {
    font-size: 1.5em;
    font-weight: bold;
    text-align: right;
    letter-spacing: 0.1em;

    position: relative;
    margin-left: auto;

    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;

    padding-left: 0.2em;
    overflow-x: clip;

    background: linear-gradient(to right, #ffffff00, #c8c8c832 10%, #000000b2 90%);
}

#div-tooltips {
    position: absolute;
    display: block;
    text-align: center;
    width: 60%;

    bottom: 5%;
    left: 20%;

    color: #f2f2f2;
}

.tooltip {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;

    top: 20%;
    padding: 1em;
    border-radius: 10px;

    white-space: pre-line;

    background-color: rgba(0,0,0,0.4);
    color: #f2f2f2;

    transition: opacity 0.3s ease-in, margin-bottom 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    opacity: 0.2;
    margin-bottom: -3em;
}

.tooltip.tooltip-show {
    opacity: 1.0;
    margin-bottom: 0;
}

#div-announcement {
    position: absolute;
    display: block;
    visibility: hidden;
    text-align: center;
    width: 100%;

    top: 20%;
    padding-top: 0.75em;
    padding-bottom: 0.75em;

    color: #f2f2f2;
    background: linear-gradient(to left, rgba(200, 200, 200, 0.1), rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 0.7) 60%, rgba(200, 200, 200, 0.1));
}

#div-main-announcement {
    font-size: 2em;
}

#div-sub-announcement {
    font-size: 1em;
}

.dialog {
    display: block;
    position: absolute;
    width: 70%;
    height: 70%;
    top: 15%;
    left: 15%;

    border-radius: 50px;
    background-color: rgba(0.1,0.1,0.1,0.9);
    color: #f2f2f2;
}

.dialog-container {
    position: relative;
    height: 100%;
}

.dialog-page {
    padding: 1em 0em;
}

.dialog-title {
    text-align: center;
    font-size: 2em;
}

#div-scoreboard {
    visibility: hidden;
}

#div-menu {
  text-align: center;
  position: absolute;
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);

  color: #f2f2f2;
  font-size: 1.5em;
  padding-top: 5%;
}

#menu-title {
    width: 100%;
    font-size: 1.5em;
    padding-bottom: 0.3em;
}

#menu-continue {
    font-size: 1.5em;
}

#menu-fieldsets {
    display: flex;
    width: 85%;
    margin: 1em auto;
    height: 55%;
}

#menu-fieldsets fieldset {
    overflow-y: scroll;
    text-align: left;
    font-size: 0.5em;
    flex: 1;
}

#menu-fieldsets fieldset legend {
    font-size: 2em;
}

#fieldset-settings label {
    padding-left: 0.15em;
}

.setting {
    padding: 0.2em;
    font-size: 1em;
    height: 1em;
    margin-bottom: 0.3em;
    display: block;
}

.setting-label {
    max-width: 60%;
    white-space: nowrap;
    overflow-x: hidden;
    float: left;
}

.setting-value {
    max-width: 40%;
    white-space: nowrap;
    overflow-x: hidden;
    float: right;
}

#cursor, #aim {
    position: absolute;
    visibility: hidden;
}

.spaced {
    margin: 6px 12px 6px 12px;
}

.transparent-05 {
    opacity: 0.5;
}

.transparent-07 {
    opacity: 0.7;
}

.bold {
    font-weight: bold;
}

.button, .button-select {
    padding: 0.1em 0;
    margin-left: 0.2em;
    margin-right: 0.2em;
    line-height: 1.1em;
    vertical-align: middle;
    display: inline-block;
}

.button:hover, .button-select:hover {
  text-shadow: 0px 0px 7px #BBBBBB;
  cursor: pointer;
}

.button-select {
    transition: border-left ease-out 0.1s, padding-left ease-out 0.1s, font-size ease-out 0.1s;
    border-left: 0em solid;
}

.button-select:hover, .button-select.button-selected {
    border-left: 0.2em solid;
    padding-left: 0.2em;
    font-size: 1.1em;
}

.no-select {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

#scene-explorer-host, #inspector-host {
    z-index: 10;
}